## Introduction

In [85]:
import numpy as np
import pandas as pd

In [86]:
traindata = pd.read_csv('iot_device_train.csv')
testdata = pd.read_csv('iot_device_test.csv')

In [87]:
traindata.head()

,ack,ack_A,ack_B,bytes,bytes_A,bytes_A_B_ratio,bytes_B,ds_field_A,ds_field_B,duration,...,suffix_is_co.il,suffix_is_com,suffix_is_com.sg,suffix_is_else,suffix_is_empty_char_value,suffix_is_googleapis.com,suffix_is_net,suffix_is_org,suffix_is_unresolved,device_category
0,9,5,5,1213,743,0.713924,668,0,0,1.5756,...,0,0,0,1,0,0,0,0,0,security_camera
1,9,5,5,1213,743,1.806874,668,0,0,0.6890,...,0,0,0,1,0,0,0,0,0,security_camera
2,9,5,5,1213,743,0.103124,668,0,0,0.9852,...,0,0,0,1,0,0,0,0,0,security_camera
3,9,5,5,1213,743,1.806874,668,0,0,1.5756,...,0,0,0,1,0,0,0,0,0,security_camera
4,9,5,5,1213,743,1.806874,668,0,0,1.5756,...,0,0,0,1,0,0,0,0,0,security_camera

In [88]:
traindata['device_category'].value_counts()

smoke_detector     100
baby_monitor       100
water_sensor       100
socket             100
watch              100
motion_sensor      100
security_camera    100
TV                 100
lights             100
thermostat         100
Name: device_category, dtype: int64

In [89]:
testdata['device_category'].value_counts()

smoke_detector     100
baby_monitor       100
thermostat         100
socket             100
watch              100
motion_sensor      100
security_camera    100
TV                 100
lights             100
Name: device_category, dtype: int64

### 'water sensor ' is not available in testdata, so drop water sensor data in train data

In [90]:
traindata.columns

Index(['ack', 'ack_A', 'ack_B', 'bytes', 'bytes_A', 'bytes_A_B_ratio',
       'bytes_B', 'ds_field_A', 'ds_field_B', 'duration',
       ...
       'suffix_is_co.il', 'suffix_is_com', 'suffix_is_com.sg',
       'suffix_is_else', 'suffix_is_empty_char_value',
       'suffix_is_googleapis.com', 'suffix_is_net', 'suffix_is_org',
       'suffix_is_unresolved', 'device_category'],
      dtype='object', length=298)

In [7]:
traindata  = traindata.loc[traindata['device_category'] != 'water_sensor']

In [8]:
traindata]

,ack,ack_A,ack_B,bytes,bytes_A,bytes_A_B_ratio,bytes_B,ds_field_A,ds_field_B,duration,...,suffix_is_co.il,suffix_is_com,suffix_is_com.sg,suffix_is_else,suffix_is_empty_char_value,suffix_is_googleapis.com,suffix_is_net,suffix_is_org,suffix_is_unresolved,device_category
0,9,5,5,1213,743,0.713924,668,0,0,1.5756,...,0,0,0,1,0,0,0,0,0,security_camera
1,9,5,5,1213,743,1.806874,668,0,0,0.6890,...,0,0,0,1,0,0,0,0,0,security_camera
2,9,5,5,1213,743,0.103124,668,0,0,0.9852,...,0,0,0,1,0,0,0,0,0,security_camera
3,9,5,5,1213,743,1.806874,668,0,0,1.5756,...,0,0,0,1,0,0,0,0,0,security_camera
4,9,5,5,1213,743,1.806874,668,0,0,1.5756,...,0,0,0,1,0,0,0,0,0,security_camera
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,0,0,240,0,0.000000,240,0,64,1.4983,...,0,0,0,1,0,0,0,0,0,socket
996,0,0,0,240,0,0.000000,240,0,64,1.4979,...,0,0,0,1,0,0,0,0,0,socket
997,0,0,0,240,0,0.000000,240,0,64,1.4950,...,0,0,0,1,0,0,0,0,0,socket
998,0,0,0,240,0,0.000000,240,0,64,1.4993,...,0,0,0,1,0,0,0,0,0,socket
999,0,0,0,240,0,0.000000,240,0,64,1.4951,...,0,0,0,1,0,0,0,0,0,socket

### Preprocess

In [91]:
traindata.isnull().sum()

ack                         0
ack_A                       0
ack_B                       0
bytes                       0
bytes_A                     0
                           ..
suffix_is_googleapis.com    0
suffix_is_net               0
suffix_is_org               0
suffix_is_unresolved        0
device_category             0
Length: 298, dtype: int64

In [92]:
traindata.describe()

,ack,ack_A,ack_B,bytes,bytes_A,bytes_A_B_ratio,bytes_B,ds_field_A,ds_field_B,duration,...,suffix_is_cloudfront.net,suffix_is_co.il,suffix_is_com,suffix_is_com.sg,suffix_is_else,suffix_is_empty_char_value,suffix_is_googleapis.com,suffix_is_net,suffix_is_org,suffix_is_unresolved
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.0,1000.000000,1000.000000,...,1000.0,1000.0,1000.000000,1000.0,1000.000000,1000.0,1000.0,1000.0,1000.0,1000.0
mean,6.158000,3.340000,3.421000,903.254000,490.90500,0.758421,532.460000,0.0,19.144000,1.419692,...,0.0,0.0,0.007000,0.0,0.876000,0.0,0.0,0.0,0.0,0.0
std,4.095829,2.264404,2.273968,446.099202,336.36964,0.723483,200.075908,0.0,29.310994,0.330796,...,0.0,0.0,0.083414,0.0,0.329746,0.0,0.0,0.0,0.0,0.0
min,0.000000,0.000000,0.000000,60.000000,0.00000,0.000000,60.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
25%,0.000000,0.000000,0.000000,240.000000,0.00000,0.000000,240.000000,0.0,0.000000,1.495875,...,0.0,0.0,0.000000,0.0,1.000000,0.0,0.0,0.0,0.0,0.0
50%,9.000000,5.000000,5.000000,1213.000000,743.00000,0.622177,668.000000,0.0,0.000000,1.575600,...,0.0,0.0,0.000000,0.0,1.000000,0.0,0.0,0.0,0.0,0.0
75%,9.000000,5.000000,5.000000,1213.000000,743.00000,1.552587,668.000000,0.0,64.000000,1.575600,...,0.0,0.0,0.000000,0.0,1.000000,0.0,0.0,0.0,0.0,0.0
max,9.000000,5.000000,5.000000,1213.000000,743.00000,1.806874,668.000000,0.0,64.000000,1.575600,...,0.0,0.0,1.000000,0.0,1.000000,0.0,0.0,0.0,0.0,0.0

In [93]:
traindata.dtypes

ack                          int64
ack_A                        int64
ack_B                        int64
bytes                        int64
bytes_A                      int64
                             ...
suffix_is_googleapis.com     int64
suffix_is_net                int64
suffix_is_org                int64
suffix_is_unresolved         int64
device_category             object
Length: 298, dtype: object

### device_category is the object data type, we perform label encoding

In [12]:
# !pip install sklearn

In [94]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()

In [95]:
def labelencoding(df):
    
    #lable encode
    lb = LabelEncoder()
    lb.fit(list(df['device_category'].values))
    df['device_category_encoded'] = lb.transform(df['device_category'].values)
    
    return df

In [96]:
newtrain =  labelencoding(traindata)
newtest = labelencoding(testdata)

In [97]:
newtrain.shape
newtest.shape

(900, 299)

In [102]:
newtrain[['device_category', 'device_category_encoded']].value_counts()

device_category  device_category_encoded
water_sensor     9                          100
watch            8                          100
thermostat       7                          100
socket           6                          100
smoke_detector   5                          100
security_camera  4                          100
motion_sensor    3                          100
lights           2                          100
baby_monitor     1                          100
TV               0                          100
dtype: int64

### Get the top 10 positively correlated features for modelling to reduce noise in the data.

In [25]:
def gettopcorrelated(df):
    dfnew  =pd.DataFrame(newtrain.corr()['device_category'].sort_values(ascending = False)[:6])
    cols = dfnew.index.values
    return df[cols]

In [18]:
newtrain = gettopcorrelated(newtrain)
newtest = gettopcorrelated(newtest)

In [76]:
newtrain.head(1).T

                                       0
device_category                 4.000000
packet_inter_arrivel_A_stdev    4.625940
packet_inter_arrivel_stdev      4.375924
packet_inter_arrivel_A_avg      4.817936
packet_inter_arrivel_avg        3.122500
packet_inter_arrivel_A_max     10.584173
packet_inter_arrivel_max       10.584173
reset_B                         0.000000
duration                        1.575600
packet_inter_arrivel_B_median   0.166027
packet_inter_arrivel_A_var     21.399323

In [19]:

X_train, y_train = (
    newtrain.loc[:, newtrain.columns != "device_category"].values,
    newtrain["device_category"],
)
X_test, y_test = (
    newtest.loc[:, newtest.columns != "device_category"].values,
    newtest["device_category"],
)

In [67]:
print(X_train.shape)
print(y_train.shape)

print(X_test.shape)
print(y_test.shape)

(900, 10)
(900,)
(900, 10)
(900,)

In [69]:
X_train

array([[4.62594025e+00, 4.37592395e+00, 4.81793649e+00, ...,
        1.57560000e+00, 1.66026640e-01, 2.13993232e+01],
       [5.70436763e-02, 4.50019365e-02, 4.30640578e-02, ...,
        6.89000000e-01, 9.53674316e-07, 3.25398100e-03],
       [3.62434798e-02, 2.49936700e-02, 2.05244124e-02, ...,
        9.85200000e-01, 3.60238552e-03, 1.31358983e-03],
       ...,
       [6.76658324e+01, 6.76658324e+01, 2.60786398e+01, ...,
        1.49500000e+00, 0.00000000e+00, 4.57866487e+03],
       [1.37346396e-02, 1.37346396e-02, 4.99763727e-01, ...,
        1.49930000e+00, 0.00000000e+00, 1.88640326e-04],
       [2.96592504e-03, 2.96592504e-03, 4.98357693e-01, ...,
        1.49510000e+00, 0.00000000e+00, 8.79671133e-06]])

In [21]:
# # Import the model we are using
# from sklearn.ensemble import RandomForestRegressor# Instantiate model with 1000 decision trees
# rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)# Train the model on training data
# rf.fit(X_train, y_train)

In [22]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score


model = RandomForestClassifier()

In [23]:
param_grid = { 
    'n_estimators': [200, 500],
    'max_features': ['auto', 'sqrt', 'log2'],
    'max_depth' : [4,5,6,7,8],
    'criterion' :['gini', 'entropy']
}

In [24]:
CV_rfc = GridSearchCV(estimator=model, param_grid=param_grid, cv= 5)
CV_rfc.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=RandomForestClassifier(),
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [4, 5, 6, 7, 8],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [200, 500]})

In [26]:
CV_rfc.best_params_

{'criterion': 'entropy',
 'max_depth': 8,
 'max_features': 'auto',
 'n_estimators': 200}

In [27]:
rfc=RandomForestClassifier(random_state=42, max_features='auto', n_estimators= 500, max_depth=8, criterion='entropy')

In [28]:
rfc.fit(X_train, y_train)

RandomForestClassifier(criterion='entropy', max_depth=8, n_estimators=500,
                       random_state=42)

In [29]:
rfc.score(X_test, y_test)

0.58

In [30]:
y_pred = rfc.predict(X_test)

In [31]:

resuts= pd.DataFrame({'Actual': y_test, 'Predicted':  y_pred})

In [32]:
resuts

     Actual  Predicted
0         1          1
1         1          1
2         1          1
3         1          1
4         1          1
..      ...        ...
895       8          0
896       8          8
897       8          8
898       8          8
899       8          0

[900 rows x 2 columns]

In [33]:
from xgboost import XGBClassifier

In [34]:
# !pip install xgboost
model = XGBClassifier()

In [35]:
model.fit(X_train, y_train)

/home/gopal/Documents/MLproject/env/lib/python3.6/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[07:39:29] WARNING: ../src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
              gamma=0, gpu_id=-1, importance_type=None,
              interaction_constraints='', learning_rate=0.300000012,
              max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=100, n_jobs=2,
              num_parallel_tree=1, objective='multi:softprob', predictor='auto',
              random_state=0, reg_alpha=0, reg_lambda=1, scale_pos_weight=None,
              subsample=1, tree_method='exact', validate_parameters=1,
              verbosity=None)

In [36]:
model.score(X_test, y_test)

0.5433333333333333

In [37]:
y_pred = model.predict(X_test)

In [38]:
print("Accuracy for Random Forest on CV data: ",accuracy_score(y_test,y_pred))

Accuracy for Random Forest on CV data:  0.5433333333333333

In [51]:
import joblib
filename = 'finalized_model.sav'
joblib.dump(rfc, filename)

['finalized_model.sav']

In [52]:
loaded_model = joblib.load(filename)

In [64]:
X_train

array([[4.62594025e+00, 4.37592395e+00, 4.81793649e+00, ...,
        1.57560000e+00, 1.66026640e-01, 2.13993232e+01],
       [5.70436763e-02, 4.50019365e-02, 4.30640578e-02, ...,
        6.89000000e-01, 9.53674316e-07, 3.25398100e-03],
       [3.62434798e-02, 2.49936700e-02, 2.05244124e-02, ...,
        9.85200000e-01, 3.60238552e-03, 1.31358983e-03],
       ...,
       [6.76658324e+01, 6.76658324e+01, 2.60786398e+01, ...,
        1.49500000e+00, 0.00000000e+00, 4.57866487e+03],
       [1.37346396e-02, 1.37346396e-02, 4.99763727e-01, ...,
        1.49930000e+00, 0.00000000e+00, 1.88640326e-04],
       [2.96592504e-03, 2.96592504e-03, 4.98357693e-01, ...,
        1.49510000e+00, 0.00000000e+00, 8.79671133e-06]])

In [77]:
t = X_train[6:7]
t

array([[0.20499612, 0.16887988, 0.20089559, 0.11479748, 0.46870017,
        0.40502   , 0.        , 1.5756    , 0.16602664, 0.04202341]])

In [82]:
newtrain.tail(1).T

                                    999
device_category                6.000000
packet_inter_arrivel_A_stdev   0.002966
packet_inter_arrivel_stdev     0.002966
packet_inter_arrivel_A_avg     0.498358
packet_inter_arrivel_avg       0.498358
packet_inter_arrivel_A_max     0.500146
packet_inter_arrivel_max       0.500146
reset_B                        0.000000
duration                       1.495100
packet_inter_arrivel_B_median  0.000000
packet_inter_arrivel_A_var     0.000009

In [83]:
t = [[0.0029, 0.0029, 0.4983,0.4983,0.5001, 0.5001,0,1.495,0.0,0.0]]

In [84]:
loaded_model.predict(t)

array([6])