## Introduction

In [133]:
import numpy as np
import pandas as pd

In [192]:
traindata = pd.read_csv('iot_device_train.csv')
testdata = pd.read_csv('iot_device_test.csv')

In [193]:
traindata.head()

,ack,ack_A,ack_B,bytes,bytes_A,bytes_A_B_ratio,bytes_B,ds_field_A,ds_field_B,duration,...,suffix_is_co.il,suffix_is_com,suffix_is_com.sg,suffix_is_else,suffix_is_empty_char_value,suffix_is_googleapis.com,suffix_is_net,suffix_is_org,suffix_is_unresolved,device_category
0,9,5,5,1213,743,0.713924,668,0,0,1.5756,...,0,0,0,1,0,0,0,0,0,security_camera
1,9,5,5,1213,743,1.806874,668,0,0,0.6890,...,0,0,0,1,0,0,0,0,0,security_camera
2,9,5,5,1213,743,0.103124,668,0,0,0.9852,...,0,0,0,1,0,0,0,0,0,security_camera
3,9,5,5,1213,743,1.806874,668,0,0,1.5756,...,0,0,0,1,0,0,0,0,0,security_camera
4,9,5,5,1213,743,1.806874,668,0,0,1.5756,...,0,0,0,1,0,0,0,0,0,security_camera

In [194]:
traindata['device_category'].value_counts()

security_camera    100
motion_sensor      100
watch              100
lights             100
thermostat         100
TV                 100
baby_monitor       100
smoke_detector     100
socket             100
water_sensor       100
Name: device_category, dtype: int64

In [195]:
testdata['device_category'].value_counts()

security_camera    100
watch              100
lights             100
thermostat         100
TV                 100
baby_monitor       100
smoke_detector     100
socket             100
motion_sensor      100
Name: device_category, dtype: int64

### 'water sensor ' is not available in testdata, so drop water sensor data in train data

In [196]:
traindata.columns

Index(['ack', 'ack_A', 'ack_B', 'bytes', 'bytes_A', 'bytes_A_B_ratio',
       'bytes_B', 'ds_field_A', 'ds_field_B', 'duration',
       ...
       'suffix_is_co.il', 'suffix_is_com', 'suffix_is_com.sg',
       'suffix_is_else', 'suffix_is_empty_char_value',
       'suffix_is_googleapis.com', 'suffix_is_net', 'suffix_is_org',
       'suffix_is_unresolved', 'device_category'],
      dtype='object', length=298)

In [197]:
traindata  = traindata.loc[traindata['device_category'] != 'water_sensor']

In [198]:
traindata

,ack,ack_A,ack_B,bytes,bytes_A,bytes_A_B_ratio,bytes_B,ds_field_A,ds_field_B,duration,...,suffix_is_co.il,suffix_is_com,suffix_is_com.sg,suffix_is_else,suffix_is_empty_char_value,suffix_is_googleapis.com,suffix_is_net,suffix_is_org,suffix_is_unresolved,device_category
0,9,5,5,1213,743,0.713924,668,0,0,1.5756,...,0,0,0,1,0,0,0,0,0,security_camera
1,9,5,5,1213,743,1.806874,668,0,0,0.6890,...,0,0,0,1,0,0,0,0,0,security_camera
2,9,5,5,1213,743,0.103124,668,0,0,0.9852,...,0,0,0,1,0,0,0,0,0,security_camera
3,9,5,5,1213,743,1.806874,668,0,0,1.5756,...,0,0,0,1,0,0,0,0,0,security_camera
4,9,5,5,1213,743,1.806874,668,0,0,1.5756,...,0,0,0,1,0,0,0,0,0,security_camera
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,0,0,240,0,0.000000,240,0,64,1.4983,...,0,0,0,1,0,0,0,0,0,socket
996,0,0,0,240,0,0.000000,240,0,64,1.4979,...,0,0,0,1,0,0,0,0,0,socket
997,0,0,0,240,0,0.000000,240,0,64,1.4950,...,0,0,0,1,0,0,0,0,0,socket
998,0,0,0,240,0,0.000000,240,0,64,1.4993,...,0,0,0,1,0,0,0,0,0,socket
999,0,0,0,240,0,0.000000,240,0,64,1.4951,...,0,0,0,1,0,0,0,0,0,socket

### Preprocess

In [199]:
traindata.isnull().sum()

ack                         0
ack_A                       0
ack_B                       0
bytes                       0
bytes_A                     0
                           ..
suffix_is_googleapis.com    0
suffix_is_net               0
suffix_is_org               0
suffix_is_unresolved        0
device_category             0
Length: 298, dtype: int64

In [200]:
traindata.describe()

,ack,ack_A,ack_B,bytes,bytes_A,bytes_A_B_ratio,bytes_B,ds_field_A,ds_field_B,duration,...,suffix_is_cloudfront.net,suffix_is_co.il,suffix_is_com,suffix_is_com.sg,suffix_is_else,suffix_is_empty_char_value,suffix_is_googleapis.com,suffix_is_net,suffix_is_org,suffix_is_unresolved
count,900.000000,900.000000,900.000000,900.000000,900.000000,900.000000,900.000000,900.0,900.000000,900.000000,...,900.0,900.0,900.000000,900.0,900.000000,900.0,900.0,900.0,900.0,900.0
mean,6.762222,3.666667,3.756667,968.300000,538.845556,0.827258,561.151111,0.0,14.728889,1.410769,...,0.0,0.0,0.007778,0.0,0.862222,0.0,0.0,0.0,0.0,0.0
std,3.784682,2.103549,2.100826,413.561445,313.372054,0.713806,186.393335,0.0,26.944714,0.347270,...,0.0,0.0,0.087897,0.0,0.344858,0.0,0.0,0.0,0.0,0.0
min,0.000000,0.000000,0.000000,60.000000,0.000000,0.000000,60.000000,0.0,0.000000,0.000000,...,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
25%,7.000000,3.000000,4.000000,1014.000000,370.000000,0.057293,524.750000,0.0,0.000000,1.496300,...,0.0,0.0,0.000000,0.0,1.000000,0.0,0.0,0.0,0.0,0.0
50%,9.000000,5.000000,5.000000,1213.000000,743.000000,0.829948,668.000000,0.0,0.000000,1.575600,...,0.0,0.0,0.000000,0.0,1.000000,0.0,0.0,0.0,0.0,0.0
75%,9.000000,5.000000,5.000000,1213.000000,743.000000,1.806874,668.000000,0.0,0.000000,1.575600,...,0.0,0.0,0.000000,0.0,1.000000,0.0,0.0,0.0,0.0,0.0
max,9.000000,5.000000,5.000000,1213.000000,743.000000,1.806874,668.000000,0.0,64.000000,1.575600,...,0.0,0.0,1.000000,0.0,1.000000,0.0,0.0,0.0,0.0,0.0

In [201]:
traindata.dtypes

ack                          int64
ack_A                        int64
ack_B                        int64
bytes                        int64
bytes_A                      int64
                             ...
suffix_is_googleapis.com     int64
suffix_is_net                int64
suffix_is_org                int64
suffix_is_unresolved         int64
device_category             object
Length: 298, dtype: object

### device_category is the object data type, we perform label encoding

In [202]:
# !pip install sklearn

In [203]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()

In [204]:
def labelencoding(df):
    
    #lable encode
    lb = LabelEncoder()
    lb.fit(list(df['device_category'].values))
    df['device_category'] = lb.transform(df['device_category'].values)
    
    return df

In [205]:
newtrain =  labelencoding(traindata)
newtest = labelencoding(testdata)

In [206]:
newtrain.shape
newtest.shape

(900, 298)

### Get the top 10 positively correlated features for modelling to reduce noise in the data.

In [149]:
def gettopcorrelated(df):
    dfnew  =pd.DataFrame(newtrain.corr()['device_category'].sort_values(ascending = False)[:11])
    cols = dfnew.index.values
    return df[cols]

In [168]:
newtrain = gettopcorrelated(newtrain)
newtest = gettopcorrelated(newtest)

In [207]:
X_train, y_train = (
    newtrain.loc[:, newtrain.columns != "device_category"].values,
    newtrain["device_category"],
)
X_test, y_test = (
    newtest.loc[:, newtest.columns != "device_category"].values,
    newtest["device_category"],
)

In [208]:
print(X_train.shape)
print(y_train.shape)

print(X_test.shape)
print(y_test.shape)

(900, 297)
(900,)
(900, 297)
(900,)

In [171]:
# # Import the model we are using
# from sklearn.ensemble import RandomForestRegressor# Instantiate model with 1000 decision trees
# rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)# Train the model on training data
# rf.fit(X_train, y_train)

In [209]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score


model = RandomForestClassifier()

In [210]:
param_grid = { 
    'n_estimators': [200, 500],
    'max_features': ['auto', 'sqrt', 'log2'],
    'max_depth' : [4,5,6,7,8],
    'criterion' :['gini', 'entropy']
}

In [211]:
CV_rfc = GridSearchCV(estimator=model, param_grid=param_grid, cv= 5)
CV_rfc.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=RandomForestClassifier(),
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [4, 5, 6, 7, 8],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [200, 500]})

In [212]:
CV_rfc.best_params_

{'criterion': 'entropy',
 'max_depth': 8,
 'max_features': 'auto',
 'n_estimators': 200}

In [213]:
rfc=RandomForestClassifier(random_state=42, max_features='auto', n_estimators= 500, max_depth=8, criterion='entropy')

In [214]:
rfc.fit(X_train, y_train)

RandomForestClassifier(criterion='entropy', max_depth=8, n_estimators=500,
                       random_state=42)

In [215]:
rfc.score(X_test, y_test)

0.6111111111111112

In [218]:
y_pred = rfc.predict(X_test)

In [219]:

resuts= pd.DataFrame({'Actual': y_test, 'Predicted':  y_pred})

In [220]:
resuts

     Actual  Predicted
0         1          1
1         1          1
2         1          1
3         1          1
4         1          1
..      ...        ...
895       8          0
896       8          8
897       8          8
898       8          8
899       8          0

[900 rows x 2 columns]

In [223]:
from xgboost import XGBClassifier

In [224]:
# !pip install xgboost
model = XGBClassifier()

In [225]:
model.fit(X_train, y_train)

/home/gopal/Documents/MLproject/env/lib/python3.6/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[07:25:16] WARNING: ../src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
              gamma=0, gpu_id=-1, importance_type=None,
              interaction_constraints='', learning_rate=0.300000012,
              max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=100, n_jobs=2,
              num_parallel_tree=1, objective='multi:softprob', predictor='auto',
              random_state=0, reg_alpha=0, reg_lambda=1, scale_pos_weight=None,
              subsample=1, tree_method='exact', validate_parameters=1,
              verbosity=None)

In [226]:
model.score(X_test, y_test)

0.7166666666666667

In [227]:
y_pred = model.predict(X_test)

In [229]:
print("Accuracy for Random Forest on CV data: ",accuracy_score(y_test,y_pred))

Accuracy for Random Forest on CV data:  0.7166666666666667